<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="/static/css/main.css">
    {% endblock %}
    <title>{% block title %} {% endblock %}</title>

    {% endblock %}
</head>

<body>
    <!-- Nav bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">⚔️ Donjon Rampe Classiques ⚔️</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('main.create_character')}}">Créer un personnage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('main.my_characters')}}">Mes personnages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('main.my_dead_characters')}}">Cimetière</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('main.view_equipment')}}">🛒 Équipements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">🧙 Sorts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">🙏 Prières</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">🎭 Patrons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">🕍 Dieux</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">🍵 Poisons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">🧟 Malédictions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">💥 Critiques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('main.fumbles_list')}}">🏈 Maladresses</a>
                    </li>

                </ul>

                <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ current_user.username }}
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url_for('main.my_profile')}}">Modifier mon compte</a>

                            <div class=" dropdown-divider">
                            </div>
                            <a class="dropdown-item" href="{{url_for('auth.logout')}}">Déconnexion</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/auth/login">S’identifier / Créer un compte <span
                                class="sr-only">(current)</span></a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <!-- Your page content -->
    <div class="container">
        <br><br>
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <!-- <strong>Title</strong> --> {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}
    {{ moment.include_moment() }}
    {{ moment.lang('fr') }}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>

</html>