{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}
Donjon Rampe Classiques | Choisissez l’alignement
{% endblock %}

{% block content %}
<h1>Choisissez l’alignement</h1>
<br>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('main.index')}}">Taverne</a></li>
        <li class="breadcrumb-item active" aria-current="page">Choisissez l’alignement</li>
    </ol>
</nav>
<br>
{{ render_form(form) }}
{% endblock %}