{% extends "base.html" %}

{% block title %}
Donjon Rampe Classiques | Maladresses
{% endblock %}

{% block content %}
<h1>Maladresses</h1>

<p>Selon votre armure, lancez le dé adéquat sur cette table.</p>


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Armure</th>
            <th scope="col">Dé à lancer</th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Sans armure</td>
            <td><a class="btn btn-primary" role="button" href="{{url_for('main.fumble_roll', die=4)}}">lancer un
                    d4</a></td>
        </tr>
        <tr>
            <td>Armure matelassée, de cuir, de cuir clouté</td>
            <td><a class="btn btn-primary" role="button" href="{{url_for('main.fumble_roll', die=8)}}">lancer un D8</a>
            </td>
        </tr>
        <tr>
            <td>Armure de peau, d'écailles, Côte de mailles</td>
            <td><a class="btn btn-primary" role="button" href="{{url_for('main.fumble_roll', die=12)}}">lancer un
                    D12</a>
            </td>
        </tr>
        <tr>
            <td>Clibanion, Armure de Plates, Harnois</td>
            <td><a class="btn btn-primary" role="button" href="{{url_for('main.fumble_roll', die=16)}}">lancer un
                    D16</a>
            </td>
        </tr>

    </tbody>
</table>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Résultat</th>
            <th scope="col">Effet</th>

        </tr>
    </thead>
    <tbody>
        {% for result, effect in fumbles %}
        <tr>
            <td>{{result}}</td>
            <td>{{effect}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>


{% endblock %}